<!DOCTYPE html>
<html lang="ja">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
    <title>食事予定管理システム</title>



</head>

<body>

<h1>食事予定管理システム</h1>

<div class="menu">

    <a href="/account">
        <button>登録情報</button>
    </a>

    {% if has_group %}

        <a href="/add_member">
            <button>メンバー追加</button>
        </a>

        <a href="/leave_group">
            <button>グループ退出</button>
        </a>

    {% else %}

        <a href="/group_create">
            <button>グループ作成</button>
        </a>

    {% endif %}

</div>

<div style="margin:20px;">

    <a href="/main?year={{ prev_year }}&month={{ prev_month }}">
        <button>{{ prev_month }}月</button>
    </a>

    <span style="font-size:24px; margin:0 30px;">
        {{ year }}年 {{ month }}月
    </span>

    <a href="/main?year={{ next_year }}&month={{ next_month }}">
        <button>{{ next_month }}月</button>
    </a>

</div>

<table>

<tr>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
    <th>日</th>
</tr>

{% for week in month_calendar %}
<tr>

{% for day in week %}

{% if day == 0 %}
<td></td>

{% else %}
<td>

<button onclick="showDetail('{{ year }}-{{ '%02d' % month }}-{{ '%02d' % day }}')">
    {{ day }}
</button>

</td>
{% endif %}

{% endfor %}

</tr>
{% endfor %}

</table>

<br>

<div id="detail-area">

    <h3>日付を選択してください</h3>

</div>

<script>

function showDetail(date){

    fetch("/meal/" + date)

    .then(response => response.text())

    .then(html => {
        document.getElementById("detail-area").innerHTML = html;
    });

}

{% if selected_date %}
window.onload = function () {
    showDetail("{{ selected_date }}");
};
{% endif %}

</script>

</body>
</html>