<h2>{{ target_date }}</h2>

{% if schedules %}

{% for s in schedules %}

{% if s[0] == user.user_name %}
<div
    onclick="location.href='/meal_detail/{{ target_date }}'"
    style="
        border:1px solid #ccc;
        padding:15px;
        margin:15px 0;
        border-radius:8px;
        cursor:pointer;
    ">
{% else %}
<div
    style="
        border:1px solid #ccc;
        border-radius:10px;
        padding:15px;
        margin:15px auto;
        width:420px;
        text-align:left;
        cursor:pointer;
    ">
{% endif %}

<h3>{{ s[0] }}</h3>

<p>🍳 朝食：
{% if s[1] %}
必要
{% else %}
不要
{% endif %}
</p>

{% if s[2] %}
<p>　メッセージ：{{ s[2] }}</p>
{% endif %}

<p>🍱 昼食：
{% if s[3] %}
必要
{% else %}
不要
{% endif %}
</p>

{% if s[4] %}
<p>　メッセージ：{{ s[4] }}</p>
{% endif %}

<p>🌙 夕食：
{% if s[5] %}
必要
{% else %}
不要
{% endif %}
</p>

{% if s[6] %}
<p>　メッセージ：{{ s[6] }}</p>
{% endif %}

{% if s[7] %}
<p>🕒 帰宅時間：{{ s[7] }}</p>
{% endif %}

</div>

{% endfor %}

{% else %}

<p>まだ予定は登録されていません。</p>

{% endif %}

<br>

{% if not schedule %}
<a href="/meal_detail/{{ target_date }}">
    <button>食事予定を登録</button>
</a>
{% endif %}