<h2>{{ target_date }}</h2>

{% if schedules %}

{% for s in schedules %}

{% if s[0] == user.account_id %}
<div
    onclick="location.href='/meal_detail/{{ target_date }}'"
    style="
        border:1px solid #ccc;
        padding:15px;
        margin:15px 0;
        border-radius:8px;
        cursor:pointer;
    ">
{% else %}
<div class="card">
{% endif %}

<h3>{{ s[1] }}</h3>

<p>🍳 朝食：
{% if s[2] %}
必要
{% else %}
不要
{% endif %}
</p>

{% if s[3] %}
<p>　メッセージ：{{ s[3] }}</p>
{% endif %}

<p>🍱 昼食：
{% if s[4] %}
必要
{% else %}
不要
{% endif %}
</p>

{% if s[5] %}
<p>　メッセージ：{{ s[5] }}</p>
{% endif %}

<p>🌙 夕食：
{% if s[6] %}
必要
{% else %}
不要
{% endif %}
</p>

{% if s[7] %}
<p>　メッセージ：{{ s[7] }}</p>
{% endif %}

{% if s[8] %}
<p>🕒 帰宅時間：{{ s[8] }}</p>
{% endif %}

</div>

{% endfor %}

{% else %}

<p>まだ予定は登録されていません。</p>

{% endif %}

<br>

{% if not schedule %}
<a href="/meal_detail/{{ target_date }}">
    <button>食事予定を登録</button>
</a>
{% endif %}